body {
  font-family: 'PT Sans', sans-serif !important;
  background-color: #c1ebe2;
}

.logo-photo {
  width: 35px;
  height: 40px;
}

.navbar {
  /* padding: 0.5rem 5rem; */
  padding: 0.5rem 2rem 0.5rem 8rem;
  height: 9rem;
}

.navigbar {
  background-color: #c1ebe2 !important;
}

.navbar-nav {
  margin-left: 7rem;
}

.brandname {
  font-size: 1rem;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 6px;
  color: #2f5a62;
}

.nav-item {
  font-weight: bold;
  margin-right: 3rem;
  position: relative;
  top: 4px;
  color: #669591;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #2f5a62;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #669591;
}

.btn {
  background-color: #2f5a62;
  color: white;
  font-weight: bold;
  width: 135px;
  /* margin-left: 32rem; */
  border-radius: 20px 20px 20px 20px;
}

.btn:hover {
  background-color: #c1ebe2;
  color: #2f5a62;
  border: 2px solid #2f5a62;
  font-weight: bold;
}

/* PROFILE PART */
.container {
  background-color: white;
  /* padding: 3rem 7rem; */
  padding: 5rem 7rem 3rem 7rem;
}

.profcol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profilepic {
  width: 200px;
  height: 200px;
}

/* FIRST COLUMN OF INFO */
.labelings {
  font-weight: bold;
  color: #2f5a62;
}

.information {
  font-weight: 400;
  color: #669591;
  position: relative;
  bottom: 10px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1024px) {
  .profilepic {
    position: relative;
    right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .profilepic {
    width: 180px;
    height: 180px;
  }

  .navbar {
    padding: 0.5rem 2rem 0.5rem 5rem;
  }

  .brandname {
    font-size: 14px;
  }

  .logo-photo {
    width: 80px;
    height: 60px;
  }

  .navbar {
    padding: 0.5rem 2rem;
  }

  .container {
    padding: 5rem 0rem 3rem 3rem;
  }

  .btn {
    position: relative;
    left: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  .profilepic {
    width: 170px;
    height: 170px;
  }

  .navbar {
    height: 10rem;
  }

  .navbar-nav {
    flex-direction: row;
    position: relative;
    left: 10px;
    margin-left: 0;
    bottom: 7px;
  }

  .logo-photo {
    width: 55px;
    height: 56px;
    position: relative;
    top: 7px;
  }

  .brandname {
    top: 13px;
    right: 3rem;
    font-size: 18px;
  }

  .profcol {
    justify-content: center;
    padding-right: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 380px) {
  .brandname {
    right: 1rem;
  }

  .btn {
    left: -1rem;
  }

  .profilepic {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 320px) {
  .brandname {
    font-size: 15px;
    left: -3px;
  }

  .logo-photo {
    width: 49px;
    height: 49px;
  }

  .btn {
    left: 0;
    font-size: 14px;
    width: 95px;
  }

  .nav-item {
    margin-right: 2rem;
  }

  .profilepic {
    width: 130px;
    height: 130px;
  }
}
